body {
  background-color: #ddd;
  font-family: "Helvetica Neue", "Sans-Serif";
  color: #444;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

main{
  background-color: #ffffff;
  padding: 2em;
}

h1, h2 {
  color: rgb(140, 76, 8);
}

h2 {
  user-select: none;
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}

address > div {
  margin-bottom: 15px;
}

/*Utilizado no JavaScript*/
.hideContent {
  display: none;
}