main {
  max-width: 300px;
  padding: 2rem;
  display: block;
  margin: 10rem auto;
  border-radius: 0.3rem;
  color: #5d5d5d;
  font-size: 1.1rem;
  box-shadow: 0 0 10px #6d6d6d;
  font-family: Verdana, Arial, sans-serif;
}

.inputs:focus {
  border: 1px solid #aeacac;
  box-shadow: 0 0 10px #6d6d6d;
}

.inputs, button {
  font-size: 17px;
  width: 100%;  
  padding: 0.4rem;
  margin: 0.5rem 0;
  outline: none;
  border: 0.5px solid #aeacac;
  box-sizing: border-box;
}

.material-symbols-outlined {
  vertical-align: middle;
}

